@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.welcome {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 170px 15px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(197, 240, 248, 0.2) 0%, rgba(218, 183, 250, 0) 100%);

  @include respond-to(sm) {
    padding: 85px 15px 179px;
  }

  .anchor {
    display: block;
    position: relative;
    top: -242px;
    visibility: hidden;
    pointer-events: none;
  }

  h2 {
    color: $main-text;
    font-family: $manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 36px;
    text-align: center;

    @include respond-to(sm) {
      font-size: 40px;
      line-height: 58px;
      margin-bottom: 24px;
    }
  }

  p {
    color: $main-text;
    font-family: $manrope;
    font-size: 21px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: $ls-first;
    text-align: center;
    margin-bottom: 36px;

    @include respond-to(sm) {
      font-size: 18px;
      line-height: 31px;
    }
  }

  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond-to(sm) {
      flex-direction: column;
      width: 100%;
    }

    li {
      margin-right: 24px;

      @include respond-to(sm) {
        margin-right: 0;
        margin-bottom: 18px;
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  .button {
    padding: 13px 44.5px;

    @include respond-to(sm) {
      width: 100%;
    }
  }
}
