@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.wrapper {
  padding: 0 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background: url('/assets/images/join-us.png') right bottom no-repeat;

  @include respond-to(sm) {
    background: none;
  }
}

.container {
  padding: 103px 0;
  max-width: 1255px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respond-to(sm) {
    padding: 43px 0 85px;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
  pointer-events: none;
}

.header {
  width: 100%;
  margin-bottom: 66px;

  h2 {
    color: $main-text;
    font-family: $manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
}

.forms {
  width: 100%;

  @include respond-to(sm) {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(206, 219, 239, 0.3);

  @include respond-to(sm) {
    display: none;
  }

  a {
    font-family: $manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: $ls-first;
    text-align: left;
    width: 33.33333%;
    padding: 12px 18px;
    margin-right: 25px;
    border-radius: 16px 16px 0px 0px;
    cursor: pointer;
    position: relative;

    span {
      @include text-gradient(99.67deg, $gradient-first-start, -7.44%, $gradient-first-end, 111.26%);
      pointer-events: none;
    }

    &:before {
      content: '';
      position: absolute;
      left: -12px;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(206, 219, 239, 0.3);
    }

    &:first-child {
      &:before {
        content: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background: linear-gradient(99.67deg, $gradient-second-start -7.44%, $gradient-second-end 111.26%);
      pointer-events: none;

      span {
        color: #fff;
        -webkit-text-fill-color: #fff;
      }

      &:before {
        content: none;
      }
    }
  }
}

.form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  @include respond-to(sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  & > div {
    width: 100%;

    @include respond-to(sm) {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    & > a {
      font-family: $manrope;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: $ls-first;
      padding: 8px 109.5px 8px 75.5px;
      width: 300px;
      position: relative;
      display: none;
      margin-bottom: 30px;

      span {
        @include text-gradient(99.67deg, $gradient-first-start, -7.44%, $gradient-first-end, 111.26%);
        pointer-events: none;
      }

      @include respond-to(sm) {
        display: inline-block;
      }

      &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius:50px;
        padding: 1px;
        background:linear-gradient(to right, $gradient-first-start -10.08%, $gradient-first-end 78.68%);
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
      }

      &:after {
        content: $if-schedule-arrow;
        font-family: '#{$icomoon-font-family}' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 24px;
        line-height: 24px;
        @include text-gradient(9.67deg, $gradient-first-start, -7.44%, $gradient-first-end, 111.26%);
        margin-left: 10px;
        position: absolute;
        right: 75.5px;
        top: 8px
      }
    }
  }
}
